= form_for @routine do |f|
  - if @routine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@routine.errors.count, "error")} prohibited this routine from being saved:"
      %ul
        - @routine.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
